body {
    padding: 10px;
}


.listing_form input, label, select {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.listing_form input {
    border-radius: 10px;
}

#id_name, #id_starting_price, #id_condition, #id_description, #id_image_url, #id_category, #id_zip_code {
    margin-bottom: 15px;
}

.listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.listing {
    justify-self: center;
    align-self: center;
}

.listing-title {
    text-align: center;
}