body {
    padding: 10px;
}


.listing_form input, label, select {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.listing_form input {
    border-radius: 10px;
}

#id_name, #id_starting_price, #id_condition, #id_description, #id_image_url, #id_category, #id_zip_code {
    margin-bottom: 15px;
}

.listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.listing {
    justify-self: center;
    align-self: center;
}

.listing-title {
    text-align: center;
}

.img-container {
    width: 200px;
    height: auto;
    
}

.img-cover {
    width: 180px;
    height: 180px;
    object-fit: cover;

    border: 1px solid;
    border-color: rgb(207, 207, 207);
    padding: 2px;
    
}

/**
.listing-img-container {
     
}
**/

.listing_img {
    border: 1px solid;
    margin: 1px;
    padding: 2px;
    width: 300px;
    height: auto;
}

#condition, #current-bid {
    font-size: 14px;
}

#condition span {
    font-size: 13px;
    font-weight: bold;
}

#price {
    font-size: 20px;
    font-weight: bold;
}

#list-price, #location, #category {
    font-size: 13px;
}


/** Watchlist styling **/

.button {
    margin: 3px;
}

#atl {
    border: 1px solid;
    padding: 4px;
    border-radius: 8px;
}

/** Place bid styling **/

.bidForm {
    margin-bottom: 10px;
}

#placeBidButton {
    border: 1px solid;
    padding: 4px;
    border-radius: 8px;
    background-color: darkblue;
    color: white;
}

#placeBidButton:hover {
    background-color: rgb(60, 60, 158);
}

.enterxRow {
    margin-top: -10px;
}

#enterx {
    font-size:12px;
}