{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}
        <div class="listings">
        {% for listing in listings %}
            <div class="listing">
            <a href="/listing/{{listing.listing_id}}"><h6 class="listing-title">{{ listing.title }}</h6></a>
            <br> 
            <div class="img-container">
            <img class="img-cover" src="{{ listing.image_url}}" alt={{ listing.title}}>
            </div>
            <br>
            <h6>{{ listing.condition }}</h6>
            <br>
            $ {{ listing.current_price }}
            <br>
            <br>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}