{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if listing %}
        {% for item in listing %}
        <h4>{{ item.title }}</h4>
            <br>
            <div class="listing-img-container">
                <img src="{{ item.image_url}}" class="listing_img"><br>
            </div>

            <span id="condition"><p>Condition: <span>{{ item.condition}}</span> </p></span>

            {% if not is_closed%}

                {% if item.starting_price == item.current_price %}
                    <span id="current-bid">Current price:</span>
                {% else %}
                    <span id="current-bid">Current bid:</span>
                {% endif %}

            {% else %}
                <span id="current-bid">Sold for:</span>
            {% endif %}

            <span id="price">$ {{ item.current_price}}</span>

            <p id="list-price">List Price ${{ item.starting_price }}</p>
            
            {% if user.is_authenticated and not is_closed and not can_close %}

                <div class="bidForm">
                    <form id="bidForm" method="post" action="/bid/{{id}}">
                        {% csrf_token %}
                        <input id="bidValue" name="bid" type="number" placeholder="Bid Amount" autocomplete="off">

                        <input id="placeBidButton" type="submit" value="Place bid">
                    </form>

                    <div class="enterxRow">
                        <span id="enterx">Enter $ {{ item.current_price|add:1 }} or more.</span>
                    </div>

                </div>

            {% endif %}

            {% if user.is_authenticated %}

                {% if not is_watched %}

                <div class="button">
                    <a id="atl" href="/watch/{{id}}">&#10084; Add to Watchlist</a>
                </div>

                {% else %}

                <div class="button">
                    <a id="atl" href="/unwatch/{{id}}">&#10060; Remove from Watchlist</a>
                </div>

                {% endif %}

            {% endif %}

            <p id="location">Zip code location: {{ item.zip_code }} </p>

            <p id="category">Category: {{ item.category }}</p>

            <span id="itemDescription">Item description:</span>
            <br>
            <span id="descriptionText">{{ item.description }}</span>
            <br>
            <span id="listingOwner">Listing owner: {{ item.owner}}</span>
            
        {% endfor %}

        {% if can_close %}
                {% if not is_closed %}
                <div class="button">
                    <a id="closeAuctionButton" href="/listing/{{id}}/close"> 👨‍⚖️ Close Auction </a>
                </div>
                <br>
                {% endif %}
        {% endif %}


        <div class="commentarySection">
            <div id="commentarySectionTitle">Commentary Section</div>
        {% if commentary_section %}
            {% for comment in commentary_section %}
                <div class="commentary">
                    <div class="commentTitle">
                        <span id="commentTitle">{{ comment.comment }}</span>
                    </div>
                    <div class="commenter">
                        <span id="commenter">{{ comment.commenter }} </span>
                        <span id="date">{{ comment.comment_date }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    
        

        {% if user.is_authenticated and not is_closed%}
        <div class="commentForm">
            <form id="commentForm" method="post" action="/listing/{{id}}/comment">
                {% csrf_token %}
                    <div class="commentContainer">
                        <textarea id="comment" name="comment" autocomplete="off" placeholder="Make your comment here"></textarea>
                        <br>
                        <input id="postCommentButton" type="submit" value="Post comment">
                    </div>
            </form>
        </div>
        {% endif %}

    {% endif %}

{% endblock %}